mixin info-block(logo, title)
    #main-section
        h3 #[i(class="fa " + logo)] !{title}
        #item-section
            .decorator
            ul.root
                block
    #empty-section

mixin info-entry(title, location)
    li.root
        #info-title
            p.title !{title}
            if location
                p.lead.location !{location}
        #info-details
            block
mixin info-subentry(title, date)
    #info-subentry
        p.lead.title !{title}
        if date
            p.lead.date !{date}
    #info-details
        block